<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<body>
    <h2 th:text="${info}"></h2>
    <div>
        <!-- 验证码 -->
        <img alt="验证码" onclick="this.src='/defaultKaptcha?d='+new Date()*1" src="/defaultKaptcha" />
    </div>
    <form action="imgvrifyController">
        <input type="text" name="vrifyCode" />
        <input type="submit" value="提交"/>
    </form>
</body>
</html>