<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"></meta>
    <title>二手购-欢迎登录</title>
    <link rel="icon" href="img/github.ico">
    <link type="text/css" async="true" href="/static/css/css/login.css">
</head>
<body>
<div id="logo">
    <!--<a href="//www.rongmazhong.cn/">
        <img th:src="img/github.png" alt="rongmazhong" width="170px" height="60px">
    </a>-->
    <b></b>
</div>
<div id="content">
    <div class="tips-wrapper">
        <div >
            <p>此项目为学习目的，如有未知事宜或讨好帅帅的猿请联系<a href="www.github.com/rongmazhong/">我</a></p>
        </div>
    </div>
    <div class="login-wrapper">
        <div class="login-form">
            <div class="msg-wrap">
                <div class="msg-error hide" >
                    <b></b>
                </div>
            </div>
            <div class="form">
                <form id="formlogin" action="/loginCon" method="post" onsubmit="false">
                    <input type="hidden" id="sa_token" name="sa_token" th:text="${info}" />
                    <input type="hidden" id="uuid" name="uuid" value=""  />
                    <div class="item item-forel">
                        用户名：<input id="loginname" type="text" class="itxt" name="loginname" tabindex="1" autocomplete="off" placeholder="邮箱/用户名/手机号"/>
                        <br />
                        <br />
                        <span class="clear-btn" style="display: inline" ></span>
                        密&nbsp;&nbsp;&nbsp;码：<input type="password" id="loginpwd" name="loginpwd" class="itxt itxt-error" tabindex="2" autocomplete="off" placeholder="密码">
                        <br />
                        <span class="clear-btn"></span>
                        验证码：<input id="vrifyCode" type="text" name="vrifyCode" tabindex="3" />
                        <img alt="验证码" id="verification" class="verify-code" src="/defaultKaptcha" onclick="this.src='/defaultKaptcha?d='+new Date()*1" />
                        <br />
                        <br />
                        <input type="submit" value="登&nbsp;&nbsp;&nbsp;&nbsp;录" />
                        <input type="button" src="/regist" value="注&nbsp;&nbsp;&nbsp;&nbsp;册"/>

                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>